/**

@ToDo: Move everything out of here:
EVERYTHING in here was written before SCSS was introduced to this theme.


*/

/* Meenta unit label */
.meenta-price__unit-label {
  color: $dark;
}

/*
Make the unit label and price sit next to each other
*/
.product-quick-shop-enable .product-infobox .rating-price-wrap {
  margin-top: .5rem;
  flex-direction: column;
  justify-content: flex-start;
  .meenta-price__unit-label {
    margin-left: 0 !important;
  }
}


/**
Make the footer stick to the bottom of the page when viewed on a screen that is taller than the page 
*/
#page-wrapper {
  @include media-breakpoint-up(lg){
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

#lorada-full-screen-search {
  .form-close {
      left: 5px;
      right: auto;
  }
}

.back-to-top {
  bottom: 7rem;
  right: 1.875rem;
  border-radius: 100%;
  background-color: var(--green);
  color: var(--dark);
}

.embed-responsive {
  padding-bottom: 56.25%;
}
.lorada-social-buttons.button-style-colored .lorada-social-button a {
  background-color: $dark !important;
}



/* 

Emergency Fixes 
- REFACTOR ALL OF THIS!!!


*/

@media screen and (max-width: 1024px){
  .lorada-sidebar-mini-cart .widget_shopping_cart_content .product_list_widget {
    max-height: calc(100vh - 260px);
  }
}

.woocommerce-mini-cart-item .product-featured-title {
  overflow: hidden;
}

.widget_shopping_cart_content .mini_cart_item .product-featured-title img {
  max-width: 70px;
  max-height: 50px;
  object-fit: cover;
}

.widget_shopping_cart_content .mini_cart_item .product-featured-title {
  font-weight: 800;
  line-height: 1.1;
}

.widget_shopping_cart_content .mini_cart_item .variation {
  height: auto;
  align-items: flex-start;
}

.widget_shopping_cart_content .mini_cart_item .variation dt.variation-Includes {
  flex: 0 0 86px;
}

.widget_shopping_cart_content .mini_cart_item .quantity {
  padding-top: .5rem;
  display: block;
  padding-left: 0;
  text-align: right;
}

.widget_shopping_cart_content .mini_cart_item .variation dd {
  color: #333 !important;
  font-weight: 400;
}