/**

@ToDo: Move everything out of here:
EVERYTHING in here was written before SCSS was introduced to this theme.


*/


/*
Make the unit label and price sit next to each other
*/
.product-quick-shop-enable .product-infobox .rating-price-wrap {
  flex-direction: row;
  justify-content: flex-start;
}


/**
Make the footer stick to the bottom of the page when viewed on a screen that is taller than the page 
*/
#page-wrapper {
  @include media-breakpoint-up(lg){
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

#lorada-full-screen-search {
  .form-close {
      left: 5px;
      right: auto;
  }
}

.back-to-top {
  bottom: 7rem;
  right: 1.875rem;
  border-radius: 100%;
  background-color: var(--green);
  color: var(--dark);
}

.embed-responsive {
  padding-bottom: 56.25%;
}