/**

@ToDo: Move everything out of here:
EVERYTHING in here was written before SCSS was introduced to this theme.


*/


/*
Make the unit label and price sit next to each other
*/
.product-quick-shop-enable .product-infobox .rating-price-wrap {
  flex-direction: row;
  justify-content: flex-start;
}


#lorada-full-screen-search {
  .form-close {
      left: 5px;
      right: auto;
  }
}

.back-to-top {
  bottom: 7rem;
  right: 1.875rem;
  border-radius: 100%;
  background-color: var(--green);
  color: var(--dark);
}

.embed-responsive {
  padding-bottom: 56.25%;
}