:root {
  --dark: #161616;
  --magenta: #D63261;
  --orange: #ED902F;
  --yellow: #EBB22D;
  --secondary: #89C330;
  --primary: #1BBCC2;
  --white-panel-shadow: 0 5px 5px 0 rgba(0,0,0,0.11);
  --white-panel-border-radius: 10px;
}

$font-family-sans-serif: 'Montserrat', 'Helvetica Neue', 'Arial';

$primary: #1BBCC2;
$blue: #1BBCC2;
$secondary: #89C330;
$green: #89C330;
$orange: #ED902F;
$warning: #EBB22D;
$yellow: #EBB22D;
$danger: #D63261;
$magenta: #D63261;

$meenta-headings-letter-spacing: .1825em;