body.single-product {
  .product-summary-inner {
    .price {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      .from { font-size: 1rem; }
      .meenta-price__unit-label {
        font-size: 1rem;
        padding-left: 0;
        margin-left: 0 !important;      
      }
    }
  }

  .bundle_button .quantity.lorada-qty-form {
    display: none;
  }
  .bundle_button .single_add_to_cart_button {
    -webkit-appearance: none;
    border: 0;
    background-color: black;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: white;
    font-weight: 700;
  }

  .bundle_price {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-bottom: 0;
  }
  
  .bundle_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 2rem;
    border: 1px solid lightgray;
    padding: 3.5rem 0 2rem 0;
    position: relative;
    .bundle_price {
      .price {
        margin-bottom: 0 !important;
        > .woocommerce-Price-amount.amount {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }
        // extra line
      }
      &:before {
        background-color: var(--yellow);
        color: black;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        content: 'Page Total:';
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .75rem;
        position: absolute;
        width: 100%;
        top: 0rem;
        left: 50%;
        transform: translate3d(-50%,0,0);
      } 
    }
  }
  
  
}