body.page-template-template-flexible-content {
  #lorada-footer {
    margin-top: 0;
  }
}

section.module {
  @extend .content-section;
  &:nth-child(even) {
  }

  &--timeline,
  &--basic_content,
  &--feature_blocks_section,
  &--faqs_section,
  &--image_cards,
  &--tabs,
  &--team_members,
  &--testimonials {
    .module {
      &__intro {
        text-align: center;
      }
      .section__title {
        &:before {
          @extend .mx-auto;
        }
      }
    }
  }

  &--basic_content,
  &--image_cards {
    .module {
      &__intro {
        margin-bottom: 3rem;
      }
    }
  }

  &--basic_content {
    .module {
      &__columns {
        @include media-breakpoint-up(md){
          display: flex;
          gap: 2rem;
        }
      }
      &__column {
        @include media-breakpoint-up(md){
          flex-basis: 0;
          flex-grow: 1;
        }
        .section__title {
          &:before {
            margin-left: 0;
            margin-right: 0
          }
        }
      }
    }
    p,
    ul,
    ol {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.75;
    }
    .module--basic_content ~ & {
      // border-top: 1px solid #e7e7e7;
      // box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    }
  } 

  &--cta_bar {
    text-align: center;
    text-align: center;
    @extend .content-section;
    text-align: center;
    // @extend .deep-blue-gradient;
    // @extend .brand-gradient-vertical;

    .section__title {
      margin-bottom: 1rem;
      @extend .text-lg-3xl;
      color: $dark;
      &:before {
        background-color: var(--dark);
      }
    }
    p {
      color: $dark;
      text-align: center;
      margin-bottom: 2rem;
      @extend .text-lg-lg;
    }
    .btn {
      margin: 0 auto;
      // @extend .btn-light;
      &:hover {
        // color: white;
      }
    }

    &.module--light {
      .btn {
        margin: 0 auto;
        @extend .btn-dark;
      }
    }
    &.module--dark {
      .section__title,
      p, a:not(.btn) {
        color: $light;
      }
      .section__title {
        &:before {
          background-color: $yellow;
        }
      }
    }
    &.module--secondary,
    &.module--yellow,
    &.module--orange,
    &.module--primary {
      .btn-primary {
        @extend .btn-dark; // make the blue-green button black on these colored modules
      }
    }
    
  }
  
  &--accordion_sections {
    padding-top: 0;
    padding-bottom: 0;

    @extend .module-section--alternating;
    
    .module-section {
      &__heading {
        @include media-breakpoint-up(lg){
          margin-bottom: 2rem;
        }
      }
      &__link {
        @extend .text-sm;
        display: inline-block;
        font-weight: 700;
        margin-top: 1rem;
        text-transform: uppercase;
        @extend .meenta-kerning;
        color: $dark;
      }
      &__img {
        width: 14rem;
        height: 14rem;
        border-radius: 100%;
      }
      &.even {
        .module-section {
          &__content {
            @include media-breakpoint-up(md) {
              padding-right: 3rem;
            }
          }
        }
      }
      &.odd {
        .module-section {
          &__content {
            @include media-breakpoint-up(md) {
              padding-left: 3rem;
            }
          }
        }
      }
    }
    .accordion-body {
      ol {
        > li {
          font-weight: 700;
          li {
            font-weight: 400;
          }
        }
      }
    }
  }

  &--feature_blocks_section {
    .module__intro {
      margin-bottom: 3rem;
      @include media-breakpoint-up(lg){
        margin-bottom: 5rem;
      }
    }
  }
  &--testimonials {

    > .container {
      max-width: 1600px;
      @include media-breakpoint-up(lg){
        pading: 0 2rem;
      }
    }
    
    .module__intro {
      margin-bottom: 3rem;
      @include media-breakpoint-up(lg){
        margin-bottom: 5rem;
      }
      .lead {
        font-weight: 700;
      }
    }
    .testimonials-slider {
      position: relative;
      @include media-breakpoint-up(xl){
        display: flex;
        gap: 1rem;
        left: -.5rem;
      }
      .testimonial-card {
        flex: 0 0 50%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &--alternating_2_column_sections {
    @extend .module-section--alternating;
  }

  &--timeline {

    .narrow {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }

    .list-timeline {
      position: relative;
      display: flex;
      align-items: center;
      height: 85px;
      padding: 0;
      margin: 0;
      list-style-type: none;
      margin: 2rem 0 3rem;
      @include media-breakpoint-up(lg){
        margin: 6rem 0 5rem;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #3c92f6
      }

      &__item {
        position: absolute;
        bottom: 0;
        z-index: 5;
        padding: 0 0 26px;
        text-align: center;
        // white-space: nowrap;
        
        &:hover h4 {
          color: #3c92f6
        }
        &:hover:after {
          bottom: -1px;
          width: 25px;
          height: 25px;
          background: linear-gradient(180deg, #b5ff8f 0, #62a24a);
          box-shadow: 0 2px 4px 0 rgba(64, 64, 64, .2)
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 22px;
          height: 22px;
          border: 4px solid #fff;
          border-radius: 50%;
          background-color: #3c92f6;
          transform: translateX(-50%);
          box-shadow: 0 4px 8px 0 rgba(64, 64, 64, .3);
          transition: -webkit-box-shadow .4s;
          transition: box-shadow .4s;
          transition: box-shadow .4s, -webkit-box-shadow .4s
        }

        .img-fluid {
          max-width: 80px;
          @include media-breakpoint-up(lg){
            max-width: 50px;
          }
        }
        
      }

      &__heading,
      &__sub-heading {
      }
      
      &__heading {
        &:not(.text-lg) {
          // @extend .meenta-kerning;
          @extend .text-base;
        }
      }
      &__sub-heading {
        @extend .text-lg;
        @extend .text-lg-sm;
        @extend .text-xl-base;
      }  
    }
    .section__sub-title {
      @extend .text-lg;
      margin-bottom: 2rem;
    }

    
    @media (max-width:1023px) {
      .list-timeline {
        height: auto;
        display: block
      }
      .list-timeline li {
        position: relative;
        top: 0;
        left: 0!important
      }
      .list-timeline li+li {
        padding-top: 70px
      }
      .list-timeline li+li:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -5;
        width: 6px;
        height: 50px;
        background-color: #3c92f6;
        transform: translateX(-50%)
      }
      .list-timeline:after {
        display: none
      }
    }
  }

  &--magenta { background-color: var(--magenta); }
  &--orange { background-color: $orange; }
  &--yellow { background-color: $yellow; }
  &--secondary { background-color: $secondary; }
  &--primary { 
    background-color: $primary; 
    .section__title {
      &:before {
        background-color: $dark;
      }
    }
  }
  &--light { background-color: $light; }
  &--dark { 
    background-color: $dark; 
    .section__title {
      color: white;
      &:before {
        background-color: $primary;
      }
    }
  }
  &--white { background-color: white; }

  &--logos_grid {
    .section__intro {
      margin-bottom: 5rem;
      text-align: center;

      .section__title {
        margin-bottom: 1rem;
      }
    }
    
    .logos-grid {
      a.logos-grid__frame {
        img {
          transform: scale(.9);
          transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          will-change: transform;
        }
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
    }
  }

  &--pricing_table {
    > .container-fluid {
      max-width: 83rem;
    }
    .module-section {
      &__outro {
        text-align: center;
      }
      &__heading {
        &:before {
          @extend .mx-auto;
        }
      }
    }
  }
  &--line_blurbs_section,
  &--pricing_cards {
    .module-section {
      &__intro {
        text-align: center;
        margin-bottom: 4rem;
      }
      &__heading {
        &:before {
          @extend .mx-auto;
        }
      }
    }
  }
  &--tabs {
    background-color: #f9f9f9;
    .nav-tabs {
      position: relative;
      z-index: 2;
      justify-content: center;
      margin-top: 3rem;
      @include media-breakpoint-up(lg){
        margin-top: 5rem;
      }
    }
    .nav-item {
    }
    .nav-link {
      font-weight: 700;
      color: gray;
      @extend .text-lg-base;

      @include media-breakpoint-up(lg){
        padding: 1rem 2rem;
      }

      &.active {
        color: $primary;
      }
    }

    .tab-pane {
      position: relative;
      z-index: 2;
      &__inner {
        padding: 3rem;
        @extend .white-panel;
        border-radius: 0 0 var(--white-panel-border-radius) var(--white-panel-border-radius);
        @media screen and (min-width: 1200px) {
          padding: 4rem 3rem;
        }
      }
      &__columns {
        gap: 2rem;
      }
      &__column {
        @include media-breakpoint-up(md){
          flex-grow: 1;
          flex-basis: 0;
        }
      }
    }
  }
  
  &--team_members {
    &.module--light { 
      .meenta-team-member {
        &__collapser {
          &:before {
            background: $light;
            background: linear-gradient(0deg, $light 0%, rgba(255,255,255,0.006039915966386533) 100%);
          }
        }
      }
    }
    &.module--magenta { 
      .meenta-team-member {
        &__collapser {
          &:before {
            background: $magenta;
            background: linear-gradient(0deg, $magenta 0%, rgba(255,255,255,0.006039915966386533) 100%);
          }
        }
      }
    }
    &.module--orange { 
      .meenta-team-member {
        &__collapser {
          &:before {
            background: $orange;
            background: linear-gradient(0deg, $orange 0%, rgba(255,255,255,0.006039915966386533) 100%);
          }
        }
      }
    }
    &.module--yellow { 
      .meenta-team-member {
        &__collapser {
          &:before {
            background: $yellow;
            background: linear-gradient(0deg, $yellow 0%, rgba(255,255,255,0.006039915966386533) 100%);
          }
        }
      }
    }
    &.module--secondary { 
      .meenta-team-member {
        &__collapser {
          &:before {
            background: $secondary;
            background: linear-gradient(0deg, $secondary 0%, rgba(255,255,255,0.006039915966386533) 100%);
          }
        }
      }
    }
  }
}

.module-section {
  @extend .content-section;
  
  &__heading {
    margin-bottom: 2rem;
    @extend .text-lg-3xl;
    &:before {
      display: block;
      position: relative;
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: var(--orange);
      margin: 0 0 1em;
    }
    ~ p.lead {
      margin-top: -1rem;
    }
  }
  &__sub-heading {
    margin-bottom: 2rem;
  }
  &__content {
    p {
      line-height: 1.7;
    }
    @include media-breakpoint-up(md) {
      flex: 0 0 70%;
    }
    ul, ol {
      h3 { font-size: 1.35rem }
      h4 { font-size: 1.25rem }
    }
  }
  &__img-wrapper {
    @include media-breakpoint-up(md) {
      flex: 0 0 30%;
      display: flex;
      justify-content: center;
    }
    img {
      display: block;
      margin: 0 auto 2rem;
      border-radius: 10px;
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }

  ol,
  ul {
    padding-left: 1rem;
    ul,
    ol {
      margin: 0.5rem 0;
    }
    li {
      margin-bottom: 1.5rem;
    }
  }
  &--alternating {
    padding-top: 0;
    padding-bottom: 0;
    
    .module-section {
      > .container {
        @include media-breakpoint-up(md) {
          display: flex;
          align-items: flex-start;
        }
      }
      &__body {
        margin-top: 3rem;
      }
      &:nth-child(even) {
        background-color: $light;
        > .container {
          flex-direction: row-reverse;
        }
        .module-section {
          &__content {
            @include media-breakpoint-up(md){
              padding-left: 0;
              padding-right: 2rem;
            }
            @include media-breakpoint-up(lg){
              padding-left: 0;
              padding-right: 5rem;
            }
          }
        }
      }
      &__img-wrapper {
        @include media-breakpoint-up(lg){
          padding-top: 3rem;
        }
      }
      &__content {
        @include media-breakpoint-up(md){
          padding-left: 2rem;
        }
        @include media-breakpoint-up(lg){
          padding-left: 5rem;
        }
      }
    }
  }
}