.hero-section {
  padding: 2rem 0;
  position: relative;
  &:not(.hero-section--has-bg){
    background-color: $primary;
  }

  @media screen and (min-width: 768px) {
    padding: 4rem 0 4rem;
  }

  

  > .container {
    padding: 0 2rem;
    position: relative;
    z-index: 2;
  }

  &__main-heading,
  .elementor-heading-title {
    margin-bottom: 1rem;
    @extend .text-2xl;
    @extend .text-md-3xl;
    @extend .text-lg-4xl;
    // color: white;
    text-transform: uppercase;
    @extend .meenta-kerning;
    text-align: center;
  }
  &__sub-heading {
    margin-bottom: 1rem;
    @extend .text-lg;
    @extend .text-md-xl;
    text-align: center;
    // color: white;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5rem;
    text-align: center;;
  }

  &__sub-heading {
  }
  a:not(.btn){
    text-decoration: underline;
  }
  .btn {
    margin-top: 2rem;
  }
  &__sub-heading-wrapper {
    p {
      // color: white;
      @extend .text-md-lg;
    }
  }
  p {
    text-align: center;
  }

  &--has-bg {
    &:before {
      @include pseudo;
      // background-color: rgba(255, 255, 255, 0.9);
      // background-color: rgba(0, 0, 0, 0.4);
      background: rgb(0,0,0);
background: linear-gradient(97deg, rgba(0,0,0,.9) 00%, rgba(0,0,0,.7) 50%,  rgba(98,98,98,0.006039915966386533) 100%);
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .hero-section {
      &__main-heading,
      &__sub-heading,
      &__sub-heading-wrapper p {
        color: white;
        text-shadow: 3px 3px 5px rgba(0,0,0,.1);
      }
    }
  }
  
  &--theme {
    &-dark,
    &-magenta {
      @extend .text-light;
      h1, h2, h3, h4, h5, h6, p, li {
        @extend .text-light;
      }
    }
    &-dark { @extend .bg-dark; }
    &-light { @extend .bg-light; }
    &-magenta { @extend .bg-danger; }
    &-orange { 
      background-color: $orange;
    }
    &-yellow { @extend .bg-warning; }
    &-secondary { @extend .bg-secondary; }
    &-primary { @extend .bg-primary; }

    &-secondary,
    &-yellow,
    &-orange,
    &-primary {
      .btn-primary {
        @extend .btn-dark; // make the blue-green button black on these colored modules
      }
    }
    
  }
  
}