$member-circle-width-sm: 5rem;
$member-circle-width-md: 10rem;
$member-circle-width-xl: 12rem;

.meenta-team-members {
  margin-top: 3rem;
  @include media-breakpoint-up(lg){
    margin-top: 5rem;
  }
}

.meenta-team-member {
  display: flex;
  margin-bottom: 2rem;
  @include media-breakpoint-up(md){
    max-width: 800px;
    margin: 0 auto 4rem;
    margin-bottom: 4rem;
  }
  &__img-wrapper {
    border-radius: 100%;
    overflow: hidden;
    width: $member-circle-width-sm;
    height: $member-circle-width-sm;
    flex: 0 0 $member-circle-width-sm;
    margin-right: 1.5rem;

    @media screen and (min-width: 700px){
      width: $member-circle-width-md;
      height: $member-circle-width-md;
      flex: 0 0 $member-circle-width-md;
    }
    @include media-breakpoint-up(xl){
      width: $member-circle-width-xl;
      height: $member-circle-width-xl;
      flex: 0 0 $member-circle-width-xl;
    }
    @include media-breakpoint-up(lg){
      margin-right: 3rem;
    }
  }
  &__name {
    font-weight: bold;
    margin-bottom: .125rem;
    display: inline-flex;
    align-items: center;
    @extend .text-lg;
    @extend .text-lg-xl;
    &:hover {
      color: $linkedin-blue; 
    }
    i[class^="fa"]{
      color: $linkedin-blue; 
      display: inline-block; 
      margin-left: 1rem
    }
  }
  &__content {
    position: relative;
    p {
      font-size: .875rem;
      @include media-breakpoint-up(lg){
        font-size: 1rem;
      }
    }
  }
  &__collapser {
    max-height: 140px;
    overflow: hidden;
    position: relative;
    transition: max-height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: -1s;
    @include media-breakpoint-up(xl){
      max-height: 12rem;
    }
    &:not(.inactive){
      &:before {
        @include pseudo;
        transition: opacity .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        height: 100px;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.006039915966386533) 100%);
        z-index: 2;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &.open {
      max-height: 1000px; // has to be large enough to cover any content that might fit within
      &:before {
        opacity: 0;
        pointer-events: none;
      }
    }
    
  }
  &__title {
    font-weight: bold;
    margin-bottom: .5rem;
    color: gray;
  }
  &__read-more {
    display: block;
    margin-top: 0;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    z-index: 5;
    .the-text {
    }
  }
}