/* Blog Stuff */

.post-content h1, 
.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5, 
.post-content h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  font-weight: 500;
}