.pricing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  @include media-breakpoint-up(xl){
    gap: 2rem
  }
  .pricing-card {
    &:nth-child(1) {
      &:before {
        background-color: $blue;
      }
    }
    &:nth-child(2) {
      &:before {
        background-color: $green;
      }
    }
    &:nth-child(3) {
      &:before {
        background-color: $yellow;
      }
    }
  }
}

.pricing-card {
  box-shadow: 0 4px 8px 0 rgba(64, 64, 64, 0.3);
  max-width: 400px;
  flex: 1;
  @include media-breakpoint-up(lg){
    max-width: 440px;
    
  }
  &:before {
    @include pseudo;
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
    background-color: gray;
  }
  &__header {
    text-align: center;
    padding: 3.5rem 1.5rem 3rem;
    border-bottom: 1px solid #e7e7e7;
  }
  
  &__heading {
    @extend .text-lg;
  }
  &__sub-heading {
    @extend .text-base;
    margin-bottom: 0;
  }
}

.pricing-feature {
  padding: 1rem .5rem;
  border-bottom: 1px dashed #b7b7b7;
  &:last-child {
    border: 0;
  }
  &__label {
    display: inline-block;
    @extend .text-sm;
    @extend .text-md-base;
    font-weight: 400;
    flex: 1;
    text-transform: none;
    letter-spacing: .25px;
    margin-bottom: 0;
    padding-right: 1rem;
  }
  &__value {
    color: $secondary;
    font-weight: bold;
  }
  i[class^="fa"]{
    font-size: 1.4em;
  }
}