.testimonial-card {
  position: relative;
  margin-bottom: 5rem;
  margin-top: 2rem;
  @include media-breakpoint-up(xl){
    display: flex;
    margin-top: 0;
  }
  &:first-child {
    margin-top: 5rem;
    @include media-breakpoint-up(xl){
      margin-top: 0;
    }
  }
  @include media-breakpoint-up(lg){
    margin-bottom: 0;
    padding-left: 7rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__content {
    @extend .white-panel;
    padding: 5rem 2rem 2rem;
    
    @include media-breakpoint-up(lg){
      padding: 2.5rem 2.5rem 2.5rem 7rem;
      display: flex;
      flex-direction: column;
    }
  }
  &__body {
    @extend .text-lg;
    @extend .text-md-xl;
    font-weigt: 500;
    @include media-breakpoint-up(lg){
      margin-bottom: 3rem;
    }
    p {
      display: inline;
    }
  }
  &__author,
  &__title {
  }
  &__author {
    font-weight: bold;
    margin-bottom: 0.25rem;
    @extend .text-base;
    margin-top: 1rem;
    // @include media-breakpoint-up(md){
    //   margin-top: 3rem;
    // }
    @include media-breakpoint-up(lg){
      margin-top: auto;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__image {
    filter: grayscale(1);
    width: 6rem;
    height: 6rem;
    display: block;
    border-radius: 5px;
    position: absolute;
    top: -2.75rem;
    left: 2rem;
    border: 0.35rem solid white;

    // @include media-breakpoint-up(md){
    //   left: 2rem;
    //   top: 2.75rem;
    //   width: 5rem;
    //   height: 5rem;
    // }

    @include media-breakpoint-up(lg){
      border: 0.5rem solid white;
      top: 0;
      left: 0;
      width: 13rem;
      height: 100%;
      border-radius: 1rem;
      background-position: center;
    }

    // left: 50%;
    // transform: translate3d(-50%,0,0);
  }
}