body.blog,
body.post-type-archive-meenta_p {
  .grid-view-method .view-method-inner {
    align-items: stretch;
  }
  article.post {
    padding: 2rem !important;
    margin-right: 2rem;
    max-width: 44% !important;
  }
  .lorada-blog-wrapper {
    article.post {
      .post-title {
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: -2.25rem;
          width: .45rem;
          height: 2rem;
          background-color: orange;
        }
      }
    }
  }
}


body.single-post article.post,
body.blog article.post {
  @extend .white-panel;
}

body.single-post article.post {
  padding: 2rem !important;
}