body.home {

  .hero-section {
    padding-bottom: 8rem;
    > .container {
      max-width: 1420px;
    }
    &:before {
      opacity: .2;
    }
    &__main-heading {
      background-color: rgba(255,255,255,.8);
      line-height: 1.3;
      padding: 1rem;
      display: block;
      // text-shadow: 2px 4px 0px $primary;
      color: $dark;
      @extend .text-xl;
      @extend .text-xl-4xl;
      @include media-breakpoint-up(xl){
        line-height: 2;
        padding: .5rem 2rem;
        display: inline;
      }
      span.spacer {
        display: none;
        @include media-breakpoint-up(xl){
          display: inline-block;
          width: 1.5rem;
        }
      }
    }
    &__sub-heading-wrapper {
      background-color: rgba(0,0,0,.8);
      padding: 1rem;
      display: inline-block;
      @include media-breakpoint-up(xl){
        padding: 1rem 2rem;
      }
      p {
        line-height: 1.7;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .btn {
      @extend .btn-warning;
      width: 100%;
      @include media-breakpoint-up(lg){
        width: auto;
      }
    }
  }
  

  .section--search {
    // background-color: var(--dark);
    padding-bottom: 14rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #030303;
    @include media-breakpoint-up(md){
      padding-bottom: 35vw;
    }
    @media screen and (min-width: 1200px) {
    }

    

    .section__intro,
    .search-wrapper {
      padding: 0 2rem;
    }
    .section__intro {
      margin-bottom: 3rem;
      @include media-breakpoint-up(md){
        margin-top: 9vw; 
      }
      p {
        color: $light;
        text-align: center;
      }
    }
    .section__title {
      text-align: center;
      @extend .text-xl;
      @extend .text-lg-3xl;
      margin: 5rem 0 2rem;
      color: white;
      &:before {
        background-color: var(--secondary);
      }
    }


  }

  .section--works {
    background-color: $light;
    box-shadow: inset 0px 16px 20px rgba(0, 0, 0, 0.17);
    border-top: 0.5rem solid var(--yellow);
    // position: relative;
    // @extend .brand-gradient;
    // @extend .deep-blue-gradient;

    @media screen and (min-width: 1200px) {
      border-top: 1rem solid var(--yellow);
    }
    // &:before {
    //   @include pseudo;
    //   // background-color: rgba(255,255,255,.9);
    //   // background-color: rgba(0,0,0,.5);
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   z-index: 1;
    // }

    > .container {
      max-width: 1400px;
    }


    .section__intro {
      position: relative;
      z-index: 2;
      .section__title,
      p {
        // color: white;
      }
      .section__title {
        margin: 0rem 0 1rem;
        text-align: center;
        &:before {
          // background-color: white;
        }
      }
      p {
        text-align: center;
        max-width: 760px;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        @extend .text-md-lg;
      }
    }

    .how-it-works-cards {
      margin-top: -12rem;
      @include media-breakpoint-up(md){
      }
      
      position: relative;
      z-index: 2;
      @include media-breakpoint-up(md){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
      }
    }

    .hiw-card {
      position: relative;
      padding: 7rem 2rem 3.5rem;
      margin-bottom: 8rem;
      @extend .white-panel;
      border: 0;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        padding: 8rem 1rem 3.5rem;
      }
      @include media-breakpoint-up(md){
        display: flex;
        flex-direction: column;
      }

      &:before {
        @include pseudo;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $light;
        height: 0.75rem;
      }

      &:nth-child(1){ 
        &:before { background-color: var(--primary); }
        .hiw-card__icon {
          border: .5rem solid var(--primary);
        }
      }
      &:nth-child(2){ 
        &:before { background-color: var(--secondary); }
        .hiw-card__icon {
          border: .5rem solid var(--secondary);
        }
      }
      &:nth-child(3){ 
        &:before { background-color: var(--yellow); }
        .hiw-card__icon {
          border: .5rem solid var(--yellow);
        }
      }
      &:nth-child(4){ 
        &:before { background-color: var(--orange); }
        .hiw-card__icon {
          border: .5rem solid var(--orange);
        }
      }
      &:nth-child(5){ 
        &:before { background-color: var(--magenta); }
        .hiw-card__icon {
          border: .5rem solid var(--magenta);
        }
      }
      
      &__title {
        text-align: center;
        @extend .text-xl;
      }
      &__icon {
        width: 10rem;
        height: 10rem;
        background-color: $dark !important;
        display: block;
        border-radius: 100%;
        position: absolute;
        top: -4.75rem;
        left: 50%;
        background-size: 50% !important;
        transform: translate3d(-50%,0,0);
      }
      
      p {
        margin-top: auto;
        margin-bottom: 0;
        text-align: center;
      }
    }


    .nav-tabs {
      position: relative;
      z-index: 2;
      justify-content: center;
    }
    .nav-item {
    }
    .nav-link {
      font-weight: 700;
      color: gray;
      @extend .text-lg-base;

      @include media-breakpoint-up(lg){
        padding: 1rem 2rem;
      }

      &.active {
        color: $primary;
      }
    }

    .tab-pane {
      position: relative;
      z-index: 2;
      text-align: center;
      &__inner {
        padding: 3rem;
        @extend .white-panel;
        border-radius: 0 0 var(--white-panel-border-radius) var(--white-panel-border-radius);
        @media screen and (min-width: 1200px) {
          padding: 4rem 3rem;
        }
      }
    }
  }

  .section--solution {
    > .container {
      padding: 0 2rem;
    }
    .section__title {
      @extend .text-xl;
      text-align: center;
      @extend .text-md-2xl;
    }
    .section__intro {
      @media screen and (min-width: 1200px) {
        margin-bottom: 6rem;
      }
    }
    p {
      text-align: center;
    }

    .solutions-groups {
      margin-top: 3rem;
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .solutions-group {
      margin-bottom: 3rem;

      @media screen and (min-width: 1200px) {
        width: 49%;
      }

      &:nth-child(even){
        .solutions-group {
          &__heading {
            i[class^="fa"] {
              color: var(--secondary);
            }
          }
        }
        .group-card {
          &__title {
            &:before {
              background-color: var(--secondary);
            }
          }
        }
      }

      &:nth-child(odd){
        .solutions-group {
          &__heading {
            i[class^="fa"] {
              color: var(--primary);
            }
          }
        }
        .group-card {
          &__title {
            &:before {
              background-color: var(--primary);
            }
          }
        }
      }

      &__inner {
        @extend .white-panel;
        padding: 2rem;
      }

      &__heading {
        @extend .text-lg;
        // @extend .text-md-lg;
        text-transform: none;
        letter-spacing: 0.5px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(md){
          margin-bottom: 1.5rem;
          justify-content: center;
        }
        i[class^="fa"] {
          color: var(--primary);
          margin-right: 0.5rem;
          display: inline-block;
          font-size: 0.875em;
          @include media-breakpoint-up(md){
            font-size: 1em;
            margin-right: 0.75rem;
          }
        }
      }
    }

    
  }

  .section--changing {
    // background-color: var(--dark);
    background: rgb(22, 22, 22);
    background: linear-gradient(180deg, rgba(22, 22, 22, 1) 0%, rgba(73, 73, 73, 1) 100%, rgba(0, 212, 255, 1) 161616%);

    
    > .container {
      padding: 0 2rem;
      margin-top: -8rem;
      position: relative;
      z-index: 3;
      @include media-breakpoint-up(md){
        margin-top: -8rem;
      }
    }
    
    .section__title {
      @extend .text-xl;
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      color: var(--light);
      @include media-breakpoint-up(xl){
        margin-top: 7rem;
        margin-bottom: 3rem;
      }
      &:before {
        background-color: var(--primary);
      }
    }
    .section__intro {
      margin-bottom: 3rem;
      .section__title {
        margin-top: 0;
        margin-bottom: 1rem;
        @extend .text-md-2xl;
        @extend .text-lg-3xl;
        color: white;
        @include media-breakpoint-up(lg){
          text-align: left;
          &:before {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      p {
        text-align: center;
        color: white;
        @include media-breakpoint-up(lg){
          text-align: left;
        }
      }
    }

  }
  .leading-institutions {
    .section__title {
      @extend .text-lg-3xl;
    }
  }

  section.changing-outro {
    text-align: center;
    @extend .content-section;
    text-align: center;
    // @extend .deep-blue-gradient;
    // @extend .brand-gradient-vertical;
    background-color: var(--orange);

    .section__title {
      margin-bottom: 1rem;
      @extend .text-lg-3xl;
      color: $dark;
      &:before {
        background-color: var(--dark);
      }
    }
    p {
      color: $dark;
      text-align: center;
      margin-bottom: 2rem;
      @extend .text-lg-lg;
    }
    .btn {
      margin: 0 auto;
      background-color: white;
      border-color: white;
      color: var(--dark);
      &:hover {
        color: white;
        background-color: var(--dark);
        border-color: var(--dark);
      }
    }
  }

  .section--explore {
    position: relative;
    @include media-breakpoint-up(lg){
      padding: 8rem 0;
    }
    &:before {
      @include pseudo;
      background-color: rgba(255, 255, 255, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    > .container {
      padding: 0 2rem;
      position: relative;
      z-index: 2;
      text-align: center;
      @include media-breakpoint-up(lg){
        text-align: left;
      }
    }
    .section__title {
      @extend .text-xl;
      @extend .text-md-3xl;
      text-align: center;
      margin-bottom: 1rem;
      &:before {
        background-color: var(--primary);
      }
      @include media-breakpoint-up(lg){
        text-align: left;
        &:before {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  footer#lorada-footer {
    margin-top: 0 !important;
  }

  .feature-blocks {
    margin: 5rem 0 3rem;
  }

  .feature-block {
    &__heading {
      @extend .text-lg;
    }
  }
  
  .intro-card {
    &:nth-child(2) {
      &:before {
        background-color: var(--secondary);
      }
      &:hover {
        .intro-card__btn {
          background-color: transparent;
          border-color: var(--secondary);
          i[class^="fa"] {
            color: var(--secondary);
          }
        }
      }
      .intro-card__btn {
        border: 2px solid var(--secondary);
        background-color: var(--secondary);
      }
    }
  }
  
}
