

/* Shop Page Custom CSS */
.elementor .shop-blurb-icon {
  background-color: var(--orange);
  border-radius: 100%;
  width: 10rem !important;
  height: 10rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.elementor .shop-blurb-icon--dark { background-color: var(--dark); }
.elementor .shop-blurb-icon--blue { background-color: var(--primary); }
.elementor .shop-blurb-icon--yellow { background-color: var(--yellow); }
.elementor .shop-blurb-icon--green { background-color: var(--secondary); }
.elementor .shop-blurb-icon--orange { background-color: var(--orange); }
.elementor .shop-blurb-icon--magenta { background-color: var(--magenta); }

.elementor .shop-blurb-icon img {
  max-width: 6rem;
  width: auto !important;
  height: auto !important;
}
