/* Shop Page Custom CSS */
.elementor .shop-blurb-icon {
  background-color: var(--orange);
  border-radius: 100%;
  width: 10rem !important;
  height: 10rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.elementor .shop-blurb-icon--dark {
  background-color: var(--dark);
}
.elementor .shop-blurb-icon--blue {
  background-color: var(--primary);
}
.elementor .shop-blurb-icon--yellow {
  background-color: var(--yellow);
}
.elementor .shop-blurb-icon--green {
  background-color: var(--secondary);
}
.elementor .shop-blurb-icon--orange {
  background-color: var(--orange);
}
.elementor .shop-blurb-icon--magenta {
  background-color: var(--magenta);
}

.elementor .shop-blurb-icon img {
  max-width: 6rem;
  width: auto !important;
  height: auto !important;
}

.lorada-elementor-special-products .product-view-full .product-thumbs {
  flex: 1 1 33%;
  max-width: 33%;
}
.lorada-elementor-special-products .product-view-full .product-infobox {
  flex: 1 1 66%;
  max-width: 66%;
}

.meenta_widget_product_categories {

  .cat-item {
    > a {
      position: relative;
      display: block;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: .5rem;
        left: -1.25rem;
        width: .25rem;
        height: 1.125rem;
        transform: scaleY(0);
        background-color: $magenta;
        transition: transform 1s ease-out;
      }
      &:hover {
        color: $magenta !important;
        &:before {
          transition: transform .35s ease-out;
          transform: scaleY(1);
        }
      }
    }
    .cat-item {
      a {
        &:before {
          left: -2.2rem;
        }
      }
    }
  }
  
  .current-cat {
    position: relative;
    > a {
      // color: $primary !important;
      // &:before {
      //   background-color: $primary;
      //   transform: scaleY(1);
      // }
    }
  }
  
  .cat-parent {
      &:after {
          display: none;
      }
      .children {
        // padding-left: 1.25rem;
          display: block !important;
      }
  }
}

.product-infobox {
  .woocommerce-loop {
    &-product {
      &__title {
        font-size: 1rem;
        line-height: 1.3;
        margin-top: .75rem;
        a {
          &:hover {
            color: $magenta;
          }
        }
      }
    }
  }
}